html, body {
  height: 100%;
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
}

.description, #preview-click, input[type=file], .sort {
    cursor: pointer;
}

.sort a:hover {
	text-decoration: none;
}

.preview-img {
	max-width: 320px;
	max-height: 240px;
}